@model IEnumerable<NutriApp5.Models.ROLES>

@{
    ViewBag.Title = "Gestión de roles...";
}

<h2>Gestión y creación de los nuevos roles.</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            NOMBRE
        </th>
        <th>
            ROLES POR USUARIO
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_ROL }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_ROL }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_ROL })
        </td>
        <td>
			@item.NOMBRE
        </td>
        <td>
			@(item.ROLESXUSUARIO == null ? "None" : item.ROLESXUSUARIO.Count.ToString())
        </td>
    </tr>
}

</table>


