@model NutriApp5.Models.ROLESXUSUARIO

@{
    ViewBag.Title = "Detalle de los roles";
}

<h2>Detalles de los roles de los usuarios</h2>

<fieldset>
    <legend>ROLES POR USUARIO</legend>

   <!-- <div class="display-label">ID_USUARIO</div>
    <div class="display-field">@Model.ID_USUARIO</div>

    <div class="display-label">ID_ROL</div>
    <div class="display-field">@String.Format("{0:F}", Model.ID_ROL)</div>-->
    <div style="text-align:left; margin-left:25px;">

        <div class="display-label">ROLES: @Html.DisplayTextFor(_ => Model.ROLES).ToString()</div>

        <div class="display-label">USUARIOS: @Html.DisplayTextFor(_ => Model.USUARIOS).ToString()</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Atrás", "Index")
</p>


