@model NutriApp5.Models.PRODUCTOSXCOMERCIO

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ID_COMERCIO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_COMERCIO)
    @Html.ValidationMessageFor(model => model.ID_COMERCIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ID_PRODUCTO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_PRODUCTO)
    @Html.ValidationMessageFor(model => model.ID_PRODUCTO)
</div>

