@model NutriApp5.Models.PRODUCTOSXCOMERCIO

@{
    ViewBag.Title = "Detalles de productos del comercio...";
}

<h2>Detalle de los productos del comercio.</h2>

<fieldset>
    <legend>PRODUCTOSXCOMERCIO</legend>

    <!-- <div class="display-label">ID_COMERCIO</div>
    <div class="display-field">@Model.ID_COMERCIO</div>

    <div class="display-label">ID_PRODUCTO</div>
    <div class="display-field">@Model.ID_PRODUCTO</div>-->

    <div class="display-label">COMERCIOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.COMERCIOS).ToString()</div>

    <div class="display-label">PRODUCTOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PRODUCTOS).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Atrás", "Index")
</p>


