@model IEnumerable<NutriApp5.Models.PRODUCTOSXCOMERCIO>

@{
    ViewBag.Title = "Productos por comercio...";
}

<h2>Productos por comercio.</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        
        <!--<th>
            ID_COMERCIO
        </th>
        <th>
            ID_PRODUCTO
        </th>-->
        <th>
            COMERCIOS
        </th>
        <th>
            PRODUCTOS
        </th>
        <th>Edición del producto</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <!--<td>
			@item.ID_COMERCIO
        </td>
        <td>
			@item.ID_PRODUCTO
        </td>-->
        <td>
			@Html.DisplayTextFor(_ => item.COMERCIOS).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.PRODUCTOS).ToString()
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>


