@model nutriApp3.Models.BITACORA_PRODUCTOS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BITACORA_PRODUCTOS</legend>

    <div class="display-label">ID_USR_RESPOSABLE</div>
    <div class="display-field">@Model.ID_USR_RESPOSABLE</div>

    <div class="display-label">TIPO_PROD_ANTERIOR</div>
    <div class="display-field">@String.Format("{0:F}", Model.TIPO_PROD_ANTERIOR)</div>

    <div class="display-label">FECHA_MODIFICACION</div>
    <div class="display-field">@String.Format("{0:g}", Model.FECHA_MODIFICACION)</div>

    <div class="display-label">ACCION_REALIZADA</div>
    <div class="display-field">@Model.ACCION_REALIZADA</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


