@model nutriApp3.Models.BITACORA_COMERCIO

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ID_COMERCIO_IMPLICADO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_COMERCIO_IMPLICADO)
    @Html.ValidationMessageFor(model => model.ID_COMERCIO_IMPLICADO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ID_USR_IMPLICADO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_USR_IMPLICADO)
    @Html.ValidationMessageFor(model => model.ID_USR_IMPLICADO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NOMBRE_ANTERIOR)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NOMBRE_ANTERIOR)
    @Html.ValidationMessageFor(model => model.NOMBRE_ANTERIOR)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LATITUD_ANTERIOR)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LATITUD_ANTERIOR)
    @Html.ValidationMessageFor(model => model.LATITUD_ANTERIOR)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LONGUITUD_ANTERIOR)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LONGUITUD_ANTERIOR)
    @Html.ValidationMessageFor(model => model.LONGUITUD_ANTERIOR)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CORREO_ANTERIOR)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CORREO_ANTERIOR)
    @Html.ValidationMessageFor(model => model.CORREO_ANTERIOR)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ACCION_REALIZADA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ACCION_REALIZADA)
    @Html.ValidationMessageFor(model => model.ACCION_REALIZADA)
</div>

