@model nutriApp3.Models.BITACORA_COMERCIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BITACORA_COMERCIO</legend>

    <div class="display-label">ID_COMERCIO_IMPLICADO</div>
    <div class="display-field">@Model.ID_COMERCIO_IMPLICADO</div>

    <div class="display-label">ID_USR_IMPLICADO</div>
    <div class="display-field">@Model.ID_USR_IMPLICADO</div>

    <div class="display-label">NOMBRE_ANTERIOR</div>
    <div class="display-field">@Model.NOMBRE_ANTERIOR</div>

    <div class="display-label">LATITUD_ANTERIOR</div>
    <div class="display-field">@String.Format("{0:F}", Model.LATITUD_ANTERIOR)</div>

    <div class="display-label">LONGUITUD_ANTERIOR</div>
    <div class="display-field">@String.Format("{0:F}", Model.LONGUITUD_ANTERIOR)</div>

    <div class="display-label">CORREO_ANTERIOR</div>
    <div class="display-field">@Model.CORREO_ANTERIOR</div>

    <div class="display-label">ACCION_REALIZADA</div>
    <div class="display-field">@Model.ACCION_REALIZADA</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_BITACORA }) |
    @Html.ActionLink("Back to List", "Index")
</p>


