@model NutriApp5.Models.NOTICIASXCONDICION

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ID_CONDICION)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_CONDICION)
    @Html.ValidationMessageFor(model => model.ID_CONDICION)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ID_NOTICIA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_NOTICIA)
    @Html.ValidationMessageFor(model => model.ID_NOTICIA)
</div>

