@model IEnumerable<nutriApp3.Models.USUARIOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            NOMBRE
        </th>
        <th>
            APELLIDO
        </th>
        <th>
            CORREO
        </th>
        <th>
            CONTRASENA
        </th>
        <th>
            BUSQUEDAS
        </th>
        <th>
            NOTICIAS
        </th>
        <th>
            ROLES
        </th>
        <th>
            CONDICION
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_USUARIO })
        </td>
        <td>
			@item.NOMBRE
        </td>
        <td>
			@item.APELLIDO
        </td>
        <td>
			@item.CORREO
        </td>
        <td>
			@item.CONTRASENA
        </td>
        <td>
			@(item.BUSQUEDAS == null ? "None" : item.BUSQUEDAS.Count.ToString())
        </td>
        <td>
			@(item.NOTICIAS == null ? "None" : item.NOTICIAS.Count.ToString())
        </td>
        <td>
			@(item.ROLES == null ? "None" : item.ROLES.Count.ToString())
        </td>
        <td>
			@(item.CONDICION == null ? "None" : item.CONDICION.Count.ToString())
        </td>
    </tr>
}

</table>


