@model nutriApp3.Models.ModeloRegistro
@{
    ViewBag.Title = "Registrarse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree una cuenta nueva.</h2>
</hgroup>

@using (Html.BeginForm("Register", "USUARIOS", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario de registro</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NOMBRE)
                @Html.TextBoxFor(m => m.NOMBRE)
            </li>
            <li>
                @Html.LabelFor(m => m.APELLIDO)
                @Html.TextBoxFor(m => m.APELLIDO)
            </li>
            <li>
                @Html.LabelFor(m => m.CORREO)
                @Html.TextBoxFor(m => m.CORREO)
            </li>
            
            <li>
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registrarse" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
