@model NutriApp5.Models.BUSQUEDAXPRODUCTOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BUSQUEDAXPRODUCTOS</legend>

    <div class="display-label">ID_BUSQUEDA</div>
    <div class="display-field">@Model.ID_BUSQUEDA</div>

    <div class="display-label">ID_PRODUCTO</div>
    <div class="display-field">@Model.ID_PRODUCTO</div>

    <div class="display-label">BUSQUEDAS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.BUSQUEDAS).ToString()</div>

    <div class="display-label">PRODUCTOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PRODUCTOS).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


