@model nutriApp3.Models.BITACORA_NOTICIAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BITACORA_NOTICIAS</legend>

    <div class="display-label">ID_USR_RESPONSABLE</div>
    <div class="display-field">@Model.ID_USR_RESPONSABLE</div>

    <div class="display-label">FECHA_MODIFICACION</div>
    <div class="display-field">@String.Format("{0:g}", Model.FECHA_MODIFICACION)</div>

    <div class="display-label">ACCION_REALIZADA</div>
    <div class="display-field">@Model.ACCION_REALIZADA</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_BITACORA }) |
    @Html.ActionLink("Back to List", "Index")
</p>


