@model NutriApp5.Models.BUSQUEDAXCOMERCIOS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BUSQUEDAXCOMERCIOS</legend>

    <div class="display-label">ID_BUSQUEDA</div>
    <div class="display-field">@Model.ID_BUSQUEDA</div>

    <div class="display-label">ID_COMERCIO</div>
    <div class="display-field">@Model.ID_COMERCIO</div>

    <div class="display-label">BUSQUEDAS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.BUSQUEDAS).ToString()</div>

    <div class="display-label">COMERCIOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.COMERCIOS).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


