@model IEnumerable<NutriApp5.Models.BUSQUEDAXCOMERCIOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ID_BUSQUEDA
        </th>
        <th>
            ID_COMERCIO
        </th>
        <th>
            BUSQUEDAS
        </th>
        <th>
            COMERCIOS
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.ID_BUSQUEDA
        </td>
        <td>
			@item.ID_COMERCIO
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.BUSQUEDAS).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.COMERCIOS).ToString()
        </td>
    </tr>
}

</table>


