@model NutriApp5.Models.CONDICION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CONDICION</legend>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">INFORMACION_CONDICION</div>
    <div class="display-field">@Model.INFORMACION_CONDICION</div>

    <div class="display-label">NOTICIASXCONDICION</div>
    <div class="display-field">@(Model.NOTICIASXCONDICION == null ? "None" : Model.NOTICIASXCONDICION.Count.ToString())</div>

    <div class="display-label">USUARIOXCONDICION</div>
    <div class="display-field">@(Model.USUARIOXCONDICION == null ? "None" : Model.USUARIOXCONDICION.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


