@model NutriApp5.Models.CONDICION

@{
    ViewBag.Title = "Detalles de la condición...";
}

<h2>Detalles de la condición.</h2>

<fieldset>
    <legend>CONDICION</legend>
    <div style="text-align:left; margin-left:25px;">
        <div class="display-label">NOMBRE: @Model.NOMBRE</div>

        <div class="display-label">INFORMACION DE LA CONDICION: @Model.INFORMACION_CONDICION</div>

        <!--<div class="display-label">NOTICIASXCONDICION</div>
        <div class="display-field">@(Model.NOTICIASXCONDICION == null ? "None" : Model.NOTICIASXCONDICION.Count.ToString())</div>

        <div class="display-label">USUARIOXCONDICION</div>
        <div class="display-field">@(Model.USUARIOXCONDICION == null ? "None" : Model.USUARIOXCONDICION.Count.ToString())</div>-->
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID_CONDICION }) |
    @Html.ActionLink("Atrás", "Index")
</p>


