@model NutriApp5.Models.USUARIOXCONDICION

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ID_USUARIO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_USUARIO)
    @Html.ValidationMessageFor(model => model.ID_USUARIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ID_CONDICION)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_CONDICION)
    @Html.ValidationMessageFor(model => model.ID_CONDICION)
</div>

