@model NutriApp5.Models.PRODUCTOS

@{
    ViewBag.Title = "Eliminar producto...";
}

<h2>Eliminar producto.</h2>

<h3>Desea eliminar este producto?</h3>
<fieldset>
    <legend>PRODUCTOS</legend>

    <!--<div class="display-label">ID_TIPO</div>
    <div class="display-field">@String.Format("{0:F}", Model.ID_TIPO)</div>-->

    <div class="display-label">TIPO</div>
    <div class="display-field">@String.Format("{0:F}", Model.TIPO)</div>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">INFORMACION_ADICIONAL</div>
    <div class="display-field">@Model.INFORMACION_ADICIONAL</div>

    <div class="display-label">BUSQUEDAXPRODUCTOS</div>
    <div class="display-field">@(Model.BUSQUEDAXPRODUCTOS == null ? "None" : Model.BUSQUEDAXPRODUCTOS.Count.ToString())</div>

    <div class="display-label">PRODUCTOSXCOMERCIO</div>
    <div class="display-field">@(Model.PRODUCTOSXCOMERCIO == null ? "None" : Model.PRODUCTOSXCOMERCIO.Count.ToString())</div>

    <div class="display-label">TIPO_PRODUCTO</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.TIPO_PRODUCTO).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="boton-nutriApp" type="submit" value="Eliminar" /> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}


