@model NutriApp5.Models.USUARIOS

@{
    ViewBag.Title = "Detalle de los usuarios...";
}

<h2>Detalles de los usuarios.</h2>

<fieldset>
    <legend>USUARIOS</legend>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">APELLIDO</div>
    <div class="display-field">@Model.APELLIDO</div>

    <div class="display-label">CORREO</div>
    <div class="display-field">@Model.CORREO</div>

    <div class="display-label" style="display:none">CONTRASENA</div>
    <div class="display-field" style="display:none">@Model.CONTRASENA</div>

    <div class="display-label">BUSQUEDAS</div>
    <div class="display-field">@(Model.BUSQUEDAS == null ? "None" : Model.BUSQUEDAS.Count.ToString())</div>

    <div class="display-label">NOTICIAS</div>
    <div class="display-field">@(Model.NOTICIAS == null ? "None" : Model.NOTICIAS.Count.ToString())</div>

    <div class="display-label" style="display:none">ROLESXUSUARIO</div>
    <div class="display-field" style="display:none">@(Model.ROLESXUSUARIO == null ? "None" : Model.ROLESXUSUARIO.Count.ToString())</div>

    <div class="display-label" style="display:none">USUARIOXCONDICION</div>
    <div class="display-field" style="display:none">@(Model.USUARIOXCONDICION == null ? "None" : Model.USUARIOXCONDICION.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_USUARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>


