@model NutriApp5.Models.Productos.createEditProductViewModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.HiddenFor(model => model.ID_PRODUCTO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NOMBRE)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NOMBRE)
    @Html.ValidationMessageFor(model => model.NOMBRE)
</div>

<div class="editor-field">
    @Html.LabelFor(x => x.SelectedTIPO)
    @Html.DropDownListFor(x => x.SelectedTIPO, Model.AllTIPOS)
   
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.INFORMACION_ADICIONAL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.INFORMACION_ADICIONAL)
    @Html.ValidationMessageFor(model => model.INFORMACION_ADICIONAL)
</div>

