@model nutriApp3.Models.CONDICION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CONDICION</legend>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">INFORMACION_CONDICION</div>
    <div class="display-field">@Model.INFORMACION_CONDICION</div>

    <div class="display-label">NOTICIAS</div>
    <div class="display-field">@(Model.NOTICIAS == null ? "None" : Model.NOTICIAS.Count.ToString())</div>

    <div class="display-label">USUARIOS</div>
    <div class="display-field">@(Model.USUARIOS == null ? "None" : Model.USUARIOS.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_CONDICION }) |
    @Html.ActionLink("Back to List", "Index")
</p>


