@model IEnumerable<NutriApp5.Models.COMERCIOS>

@{
    ViewBag.Title = "Comercio...";
    NutriApp5.Seguridad.Seguridad secureControl = NutriApp5.Seguridad.Seguridad.Instance;
    
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        
        <!--<th>
            ID_TIPO
        </th>
        <th>
            ID_USUARIO
        </th>-->
        <th>
            NOMBRE
        </th>
        <th>
            TELEFONO
        </th>
        <th>
            CORREO
        </th>
       
    </tr>
@if(secureControl.isStoreAdmin()){
    ICollection<int> comerciosAdmin = secureControl.getStoresAdmin(NutriApp5.Models.LoginControl.Instance.idLogedUser);
    foreach (var item in Model) {
        
        if(secureControl.isAdminOf(item.ID_COMERCIO) || secureControl.isAdmin()){
            <tr>
                <td>
			        @item.NOMBRE
                </td>
                
                <td>
			        @String.Format("{0:F}", item.TELEFONO)
                </td>
                <td>
			        @item.CORREO
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_COMERCIO }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_COMERCIO })
                </td>
            </tr>
        }
    }
}

</table>


