@model nutriApp3.Models.BUSQUEDAS

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ID_USUARIO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ID_USUARIO)
    @Html.ValidationMessageFor(model => model.ID_USUARIO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FECHA_HORA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FECHA_HORA)
    @Html.ValidationMessageFor(model => model.FECHA_HORA)
</div>

