@model IEnumerable<nutriApp3.Models.BUSQUEDAS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ID_USUARIO
        </th>
        <th>
            FECHA_HORA
        </th>
        <th>
            USUARIOS
        </th>
        <th>
            COMERCIOS
        </th>
        <th>
            PRODUCTOS
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_BUSQUEDA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_BUSQUEDA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_BUSQUEDA })
        </td>
        <td>
			@item.ID_USUARIO
        </td>
        <td>
			@String.Format("{0:g}", item.FECHA_HORA)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.USUARIOS).ToString()
        </td>
        <td>
			@(item.COMERCIOS == null ? "None" : item.COMERCIOS.Count.ToString())
        </td>
        <td>
			@(item.PRODUCTOS == null ? "None" : item.PRODUCTOS.Count.ToString())
        </td>
    </tr>
}

</table>


