@model IEnumerable<NutriApp5.Models.NOTICIAS>

@{
    ViewBag.Title = "Index";
    NutriApp5.Seguridad.Seguridad secureControl = NutriApp5.Seguridad.Seguridad.Instance;
}

<h2>Index</h2>

<p>
    @if(secureControl.canPublishNotice()||secureControl.isAdmin()){
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table>
    <tr>
        <th></th>
        <th>
            ID_USUARIO_CREADOR
        </th>
        <th>
            ID_TIPO_INFORMACION
        </th>
        <th>
            TITULO
        </th>
        <th>
            CUERPO_NOTICIA
        </th>
        <th>
            USUARIOS
        </th>
        <th>
            NOTICIASXCONDICION
        </th>
        <th>
            TIPO_INFORMACION
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_NOTICIA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_NOTICIA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_NOTICIA })
        </td>
        <td>
			@item.ID_USUARIO_CREADOR
        </td>
        <td>
			@String.Format("{0:F}", item.ID_TIPO_INFORMACION)
        </td>
        <td>
			@item.TITULO
        </td>
        <td>
			@item.CUERPO_NOTICIA
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.USUARIOS).ToString()
        </td>
        <td>
			@(item.NOTICIASXCONDICION == null ? "None" : item.NOTICIASXCONDICION.Count.ToString())
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.TIPO_INFORMACION).ToString()
        </td>
    </tr>
}

</table>


