@model nutriApp3.Models.COMERCIOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>COMERCIOS</legend>

    <div class="display-label">ID_TIPO</div>
    <div class="display-field">@String.Format("{0:F}", Model.ID_TIPO)</div>

    <div class="display-label">ID_USUARIO</div>
    <div class="display-field">@Model.ID_USUARIO</div>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">LATITUD</div>
    <div class="display-field">@String.Format("{0:F}", Model.LATITUD)</div>

    <div class="display-label">LONGUITUD</div>
    <div class="display-field">@String.Format("{0:F}", Model.LONGUITUD)</div>

    <div class="display-label">TELEFONO</div>
    <div class="display-field">@String.Format("{0:F}", Model.TELEFONO)</div>

    <div class="display-label">CORREO</div>
    <div class="display-field">@Model.CORREO</div>

    <div class="display-label">TIPO_COMERCIO</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.TIPO_COMERCIO).ToString()</div>

    <div class="display-label">BUSQUEDAS</div>
    <div class="display-field">@(Model.BUSQUEDAS == null ? "None" : Model.BUSQUEDAS.Count.ToString())</div>

    <div class="display-label">PRODUCTOS</div>
    <div class="display-field">@(Model.PRODUCTOS == null ? "None" : Model.PRODUCTOS.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_COMERCIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>


