@model NutriApp5.Models.BUSQUEDAXPRODUCTOS

@{
    ViewBag.Title = "Eliminar búsqueda...";
}

<h2>Eliminar</h2>

<h3>Desea eliminar esta búsqueda?</h3>
<fieldset>
    <legend>BUSQUEDA POR PRODUCTOS</legend>

    <!--<div class="display-label">ID_BUSQUEDA</div>
    <div class="display-field">@Model.ID_BUSQUEDA</div>

    <div class="display-label">ID_PRODUCTO</div>
    <div class="display-field">@Model.ID_PRODUCTO</div>-->

    <div class="display-label">BUSQUEDAS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.BUSQUEDAS).ToString()</div>

    <div class="display-label">PRODUCTOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PRODUCTOS).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="boton-nutriApp" type="submit" value="Eliminar" /> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}


