@model NutriApp5.Models.BUSQUEDAXPRODUCTOS

@{
    ViewBag.Title = "Eliminar búsqueda...";
}

<h2>Eliminar búsqueda.</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BUSQUEDAXPRODUCTOS</legend>
    <div style="text-align:left; margin-left:25px;">

        <!--<div class="display-label">ID_BUSQUEDA</div>
        <div class="display-field">@Model.ID_BUSQUEDA</div>

        <div class="display-label">ID_PRODUCTO</div>
        <div class="display-field">@Model.ID_PRODUCTO</div>-->

        <div class="display-label">BUSQUEDAS: @Html.DisplayTextFor(_ => Model.BUSQUEDAS).ToString()</div>

        <div class="display-label">PRODUCTOS: @Html.DisplayTextFor(_ => Model.PRODUCTOS).ToString()</div>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="boton-nutriApp" type="submit" value="Eliminar" /> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}


